@import "@//assets/styles/mixins.scss";
@import "@//assets/styles/variables.scss";

/*common*/
@font-face {
  font-family: "SCDream";
  src: url(https://awsome-source.s3.ap-northeast-2.amazonaws.com/font/font/SCDream5.otf) format("opentype");
  font-style: normal;
  font-weight: normal;
}