// font color
$ft01: #333;
$ft02: #333;
$ft03: #333;
$ft04: #333;
$ft05: #333;

//font size 
$ft32: 2.000em;
$ft28: 1.750em;
$ft24: 1.500em;
$ft20: 1.250em;
$ft16: 16px;
$ft14: 0.875em;
$ft12: 0.750em;
$ft10: 0.625em;

//main color
$blue01: #007aff;
$blue02: #2189ff;
$blue03: #E9F3FF;
$blue04: #8fc4ff;
$blue05: #d6eaff;
$black01: #000000;
$black02: #26282b;
$black03: #1b1d1f;
$gray01: #72787f;
$gray02: #c9cdd2;
$gray03: #d6d7d8;
$gray04: #f5f5f5;
$gray05: #575757;
$gray06: #e8ebed;
$gray07: #f7f8f9;
$red01:#ff4338;

//font-family
$ft_s400: "SamsungKoreanSans-Medium";
$ft_k300: "SamsungOneKorean-300";
$ft_k400: "SamsungOneKorean-400";
$ft_k500: "SamsungOneKorean-500";
$ft_k600: "SamsungOneKorean-600";
$ft_k700: "SamsungOneKorean-600";
$ft_l200: "SamsungOneLatin-200";
$ft_l300: "SamsungOneLatin-300";